do_token = "REPLACE_WITH_DIGITALOCEAN_TOKEN"

project_name = "connect-core"

# Add your existing DO SSH key fingerprints.
ssh_key_fingerprints = [
  "REPLACE_WITH_SSH_FINGERPRINT"
]

control_node_name   = "connect-control-1"
control_node_region = "lon1"
control_node_size   = "s-1vcpu-2gb"
control_node_image  = "ubuntu-24-04-x64"

worker_node_name   = "connect-worker-uk-1"
worker_node_region = "lon1"
worker_node_size   = "s-1vcpu-1gb"
worker_node_image  = "ubuntu-24-04-x64"

# Replace with your office/home static IP for better security.
allowed_admin_cidrs = [
  "0.0.0.0/0",
  "::/0"
]
